= form_for(@survey, :url => survey_scope(@survey)) do |f|
  - if f.object.errors.messages.any?
    %ul
      - f.object.errors.messages.each_pair do |field, msg|
        %li
          = "#{field} - #{msg}"
  .field
    = f.label :name
    %br/
    = f.text_field :name
    %br/
    = f.label :attempts_number
    %br/
    = f.text_field :attempts_number
    %br/
    = f.label :active
    %br/
    = f.select :active, ["true", "false"]
  .field
    = f.label :description
    %br/
    = f.text_area :description, :size => "100x5"
    %br/
  = succeed "/" do
    %br/
  .field
    %ul
      = f.fields_for :questions do |builder|
        = render question_fields, :f = builder
    = succeed "/" do
      %br/
    = link_to_add_field Add a new Question, f, :questions
  = succeed "/" do
    %br/
  .field
    = f.submit
:javascript
  // remove attachment field
  function removeField(link) {
    $(link).prev("input[type=hidden]").val("true");
    tag = $(link).closest("li")
    tag.hide("fade in").addClass("deleted");
  }

  // add attachment field
  function addField(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    var html = $(content.replace(regexp, new_id)).hide();
    html.appendTo($(link).closest("div.field").find("ul").first()).slideDown("slow");
  }
