.container
  %h2.survey-title
    = @attempt.survey.name
  %p
    %small= @attempt.survey.description
  %ol.questions
    - @attempt.answers.each do |answer|
      %li
        %p.question
          = answer.question.text
        %ul.options
          - answer.question.options.each do |option|
            %li.radio
              %label
                = radio_button_tag '', '', the_chosen_one?(answer, option), disabled: true
                - color = get_color_of_option(answer, option)
                %span{:class => "#{color} #{the_chosen_one?(answer, option)}"}
                  = option.text
                  = get_weight(option)
              %p.answers-number
                = number_of_people_who_also_answered(option.id)
    %ol
